.container-fluid {
    margin-top: 25px;
}

.nav-bar {
    padding: 0 1rem;
}

.nav-item.active {
    background-color: #95cef659;
}

.toolbar {
    list-style: none;
    padding-left: 0;
}

.toolbar li {
    display: inline-block;
    margin-right: 10px;
}

.actions {
    margin-top: 25px;
}

.actions button,
.actions a {
    margin-right: 15px;
}

/* Loader */

.loader {
    border: 3px solid #f3f3f3;
    border-top: 3px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Loader (fin) */